@page "/Home"
@using HealFit
@using HealFit.Components.Layout
@using HealFit.Model
@using HealFit.Service
@inject IDadosService UsuarioService


<div class="Titulo">
    <h3 class="TxtBranco">Bem vindo</h3>

</div>

<Footer></Footer>

@code {

}
