@page "/Home"
@using HealFit
@using HealFit.Components.Layout
@using HealFit.Model
@using HealFit.Service
@inject IDadosService UsuarioService

    <h3 class="TxtBranco">Inicio</h3>

<Footer></Footer>

@code {

}
