@page "/"
@inject NavigationManager Navigation

<section class="content px-4">
    <button class="btn btn-primary" @onclick="login">Login</button>
    <button class="btn btn-primary" @onclick="registrar">Registrar</button>
</section>

@code {

    private void login() {
        Navigation.NavigateTo("/Login");
    }

    private void registrar() {
        Navigation.NavigateTo("/Registrar");
    }

}