@page "/"
@inject NavigationManager Navigation

<button class="btn btn-primary" @onclick="login">Login</button>
<button class="btn btn-primary" @onclick="registrar">Registrar</button>

@code {

    private void login() {
        Navigation.NavigateTo("/Login");
    }

    private void registrar() {
        Navigation.NavigateTo("/Registrar");
    }

}