@page "/Pesquisar"
@using HealFit.Model
@using HealFit.Service
@using Newtonsoft.Json
@inject NavigationManager Navigation
@inject FatSecretService FatSecret

<Footer></Footer>


<section class="content px-4">

    <section>
        <button class="btn btn-outline-primary mb-2" @onclick="Voltar">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8" />
            </svg>
            Voltar
        </button>

        <div>
            <input type="text" @bind="FoodName" placeholder="Produto" class="flex w-100 p-2 rounded border border-1 border-secondary" />
            <button class="btn btn-primary mt-2" @onclick="BuscarAlimentosAsync">Buscar</button>
        </div>
    </section>

    <main class="mt-2 h-85 overflow-auto">
        @if (SearchResults != null) {
            @foreach (var food in SearchResults.Foods.Food) {
                <div class="p-2 m-2 border border-secundary d-flex align-items-center justify-content-between">
                    <span style="color:red">@food.food_name</span>
                    <button class="btn btn-primary" @onclick="() => Selecionar(food.food_id)">Adicionar</button>
                </div>
            }
        }
    </main>

</section>

@code {
    private string FoodName { get; set; } = string.Empty;
    private FoodSearchResult SearchResults { get; set; }

    private void Voltar() {
        Navigation.NavigateTo("ConsumoDiario");
    }

    private void Selecionar(int produtoId) {
        Navigation.NavigateTo($"/AdicionarConsumo/{produtoId}");
    }

    private async Task BuscarAlimentosAsync() {
        if (!string.IsNullOrWhiteSpace(FoodName)) {
            var result = await FatSecret.SearchFoodsAsync(FoodName);
            SearchResults = ParseSearchResults(result);
            StateHasChanged(); // Atualize a interface do usuário
        }
    }

    private FoodSearchResult ParseSearchResults(string jsonResponse) {

        if (string.IsNullOrEmpty(jsonResponse)) {
            return null;
        }

        try {
            var searchResult = JsonConvert.DeserializeObject<FoodSearchResult>(jsonResponse);
            if (searchResult.Foods == null || searchResult.Foods.Food == null) {
                Console.WriteLine("A resposta JSON não contém dados válidos.");
                return null;
            }
            return searchResult;
        }
        catch (JsonException ex) {
            Console.WriteLine($"Erro ao desserializar a resposta JSON: {ex.Message}");
            return null;
        }
    }
}