@page "/Pesquisar"
@inject NavigationManager Navigation

<section class="content px-4">

    <section>

        <button class="btn btn-outline-primary mb-2" @onclick="Voltar">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8" />
            </svg>
            Voltar
        </button>

        <div>
            <input type="text" name="produto" placeholder="Produto" class="flex w-100 p-2 rounded border border-1 border-secondary" />
        </div>

    </section>

    <main class="mt-2 h-85 overflow-auto">

        <div class="p-2 m-2 border border-secundary d-flex align-items-center justify-content-between">
            <span>Produto 1</span>
            <button class="btn btn-primary">Adicionar</button>
        </div>

    </main>

</section>


@code {

    private void Voltar() {

        Navigation.NavigateTo("AdicionarConsumo");
    }

}
